.keylabel0 {
    color: black !important;
}
.keylabel1 {
    color: black !important;
}
.keylabel2 {
    color: black !important;
}
.keylabel3 {
    color: black !important;
}
.keylabel4 {
    color: black !important;
}
.keylabel5 {
    color: black !important;
}
.keylabel6 {
    color: black !important;
}
.keylabel7 {
    color: black !important;
}
.keylabel8 {
    color: black !important;
}
.keylabel9 {
    color: black !important;
}
.keylabel10 {
    color: black !important;
}
.keylabel11 {
    color: black !important;
}
.keylabel12 {
    color: black !important;
}
